ul {
  list-style-type: none;
  width: 600px;
  margin: 0 auto;
}

li {
  background-color: lightblue;
  margin: 10px 0;
  text-align: left;
}

.App {
  text-align: center;
  margin: 0 auto;
}

.prompt {
  display: block;
}

.submitButton {
  background: lightblue;
  border-radius: 5px;
  padding: 5px 10px;
}
.textBox {
  width: 500px;
  height: 100px;
  margin: 15px 15px;
}